
*{
    margin: 0;
    font-size: 16px;
}
.color{
    background: -webkit-linear-gradient(#0163ea, #00bcf9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.background{
    background: -webkit-linear-gradient(#0162ea71, #00bbf96a);
    padding: 1rem;
    border-radius: 0.5rem;
}
.header-bg{
    background-image: linear-gradient(to right, #90cadf,#0168eb );
    height: 6rem !important;
    border-radius: 0.2rem;
    

}
.head-text{
    font-size: 1.3rem !important;
    margin-left: 2rem !important;
    color:darkblue !important;
}
.head-text:hover{
    background-color: #0168eb;
    color: #90cadf !important;

}
.nav{
    display: flex !important;
    align-items: center !important;
}
.phone{
    margin:0 0 0 10rem ;
}



/* ---------------------Partners----------- */

.partners{
    height: auto;
    width: 100%;
    background-color:azure;
}
.com-text{
    text-align: center;
    padding:2rem 0;
    font-size: 1.3rem;
    font-weight: 400;
    background: -webkit-linear-gradient(#7fb0c3, #3f76bd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.part-heading{
    font-size: 2.4rem;
    text-align: center;
    font-weight: 700;
}
.part-desc,.sec1-desc{
    text-align: center;
    font-size: 1.8rem;
    margin: 0 6rem;
}

/* --------slider--------- */

.slider-pic{
    height: 9rem;
    object-fit: contain;
    
}
.slider-holder{
    padding: 3rem 9rem;
}

/* -------------home---------------- */
.home-sec-1{
    height: 40rem;
    position: relative;
}
.sec1-head{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding: 2rem 0;
}
.card-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
}
.car{
    margin: 3rem 6rem;
}
.six-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

  /* About us */


.about{
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.form{
    padding: 1rem 5rem;
    border: 1px solid blue;
}
.form-btn{
    padding: 0rem 1rem;
    height: 2.5rem;
    text-align: center;
    background: -webkit-linear-gradient(#0162ea, #00bbf9) !important;
}
.form-btn:hover{
    opacity: 0.8;
}
.about-form img{
    width: 3rem;
    height: 3rem;
    margin: 2rem 0;
}
.about-form h3{
    font-size: 2rem;
    font-weight: 500;
}
.about-form p{
    margin: 1rem 0;
}
.form-details{
    display: flex;
    margin: 5rem 2rem;
}
.form-details img{
    width: 5rem;
    height: 5rem;
    margin: 0 2rem;
}
.form-details h3{
    font-size: 1.5rem;
    font-weight: 500;
}
.form-details p{
    font-size: 1.2rem;
    margin: 0.2rem 0;
}
.reach-us{
    font-weight: 500;
    font-size: 3rem;
}
.reach-us p{
    font-size: 1rem;
    color: gray ;
}

/* ----------About us ------------ */

.about-section-1{
    width: auto;
    height: 40rem;
    background: #7fb0c3;
}
.h1-about{
    display: inline-block;
    margin: 2rem 10rem;
    background: -webkit-linear-gradient(#0163ea, #00bcf9);
    padding: 1rem 1rem;
    color: whitesmoke;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 1rem;
}
.holder{
    display: flex;
    justify-content: space-evenly;
    
}
.count1 h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.count1 p{
    font-size: 2rem;
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    *{
     font-size: 8px;
    }
   }
 
   @media (max-width:1000px) {
     *{
         font-size: 10px;
     }
   }
 